body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab-column {
  min-height: 100vh;
  min-width: 10px;
  border: 1px solid #dee2e6;
  border-top: none;
  border-left: none;
  padding-right: 0;
}

.nav-link {
  color: black;
}

i {
  font-size: 30px;
}

.compose-input {
  position: relative;
  height: fit-content;
}

.compose-input-button {
  position: absolute;
  font-size: 22px;
  bottom: 0;
  margin-left: 12px;
  padding-bottom: 10px;
}

.compose-input-photo {
  position: absolute;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 50px;
  height: 85px;
  border-radius: 8px;
}

.upload-preview-photo {
  height: 100px;
}
